@import url(https://fonts.googleapis.com/css?family=Merriweather);body {
  height: 100vh;
  background-color: #878cdf;
  color: #99fbc6;
  font-size: 5rem;
  font-weight: 900;
  font-family: "Merriweather", sans-serif; }

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container .image-wrapper {
    display: inline-block;
    margin: 0 10px; }
    .container .image-wrapper__image {
      width: auto;
      height: 300px; }
